<script type="text/template" id="topics-list-tmpl">
  <div class="col-lg-10">
      <%= link_to 'Create a Topic', '#/topics/new', :class => 'btn btn-primary pull-right' %>
      <br style="clear:right"/>
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <td>#</td>
              <td>Name</td>
              <td>Title</td>
              <td>Content</td>
            </tr>
            </thead>
            <tbody>
            <%% _.each(topics, function(topic){ %>
                <tr>
                  <td><%%= topic.get('id') %></td>
                  <td><%%= topic.get('name') %></td>
                  <td><%%= topic.get('title') %></td>
                  <td><%%= topic.get('content') %></td>
                <tr>
              <%% }); %>
            </tbody>
          </table>
    </div>
    </script>