  <!--<div class="col-lg-10">-->
    <!--<button class="btn btn-primary pull-right">Create a Topic</button>-->
    <%=
        #link_to 'Create a Topic', new_topic_path, :class => 'btn btn-primary pull-right'
    %>
    <!--<br style="clear:right"/>-->
    <!--<table class="table table-bordered table-striped">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<td>#</td>-->
        <!--<td>Topics</td>-->
        <!--<td>#Comments</td>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr>-->
        <!--<td>1</td>-->
        <!--<td>How to configure Ruby with Rails</td>-->
        <!--<td>5</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>2</td>-->
        <!--<td>How to configure Ruby with Rails</td>-->
        <!--<td>3</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>3</td>-->
        <!--<td>How to configure Ruby with Rails</td>-->
        <!--<td>15</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>4</td>-->
        <!--<td>How to configure Ruby with Rails</td>-->
        <!--<td>8</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->
</script>