.main{
    border: 1px solid #000;
    min-height: 500px;
}
.top{
    border: 1px solid #f00;
    /*min-height: 100px;*/
}
.mid{
    border: 1px solid #0f0;
    /*min-height: 100px;*/
    padding: 10px 5px;
    margin-bottom: 30px !important;
}
.bottom {
    bottom: 0;
    display: block;
    position: absolute;
    text-align: center;
    width: 90%;
}
.top .logo img{
    display: block;
    width: 100%;
}
.ccc{
    margin-bottom: 5px;
}
.table{
    margin-top: 10px;
}
.form-horizontal textarea{
    resize: vertical;
}